#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card{
  width: 30vw;
  border: 0.5vw solid rgb(92, 92, 175);
  border-radius: 4vw;
  margin-top: 1vw;
}

.card-img{
  width: 25vw;
  height: 25vw;
  border-radius: 5vw;
  object-fit: cover;
}